/* Estilos preloader */
.hidden{
    display:  none;
}
 .preloader {
    padding-top: 150px;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  svg {
    overflow: visible;
    width: 100px;
    height: 150px;
  }
  svg g {
    animation: slide 2s linear infinite;
  }
  svg g:nth-child(2) {
    animation-delay: 0.5s;
  }
  svg g:nth-child(2) path {
    animation-delay: 0.5s;
    stroke-dasharray: 0px 158px;
    stroke-dashoffset: 1px;
  }
  svg path {
    stroke: url(#gradient);
    stroke-width: 20px;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
    animation: escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(50px);
    }
  }
  @keyframes escalade {
    0% {
      stroke-dasharray: 0 157px;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 157px 157px;
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dasharray: 157px 157px;
      stroke-dashoffset: -156px;
    }
  }
/* estilos de prueba */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: rgb(255, 149, 50);
  --white: #ffffff;
  --bg: #f5f2ed;
  --white:#FFF;
  --black:#000;
  --lite:rgba(255,255,255,0.6);
  --gray:rgba(1,1,1,0.6);
  --dark:#1e1e1d;
  --primary1:#d6863a;
  --primary_dark:#93683f;
  /* --primary_lite:#ebab61;
  --secondary:;
  --secondary_dark:;
  --secondary_lite:;
  --default_font:'Nunito Sans', sans-serif;
  --title_font:; */
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.2;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body{
  margin:0;
  overflow-x:hidden !important;
  font-family: var(--default_font);
  font-size: 1.6rem;
  background: var(--bg);
}






a{
    text-decoration: none;
    color: #fff;
}

.container-introduce{
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.container-about{
    display: flex;
    justify-content: center;
}

.glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(235, 126, 23, 0.56);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(235, 126, 23, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}

.-encabezado{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
}



.content-card{
    display: flex;
    width: 100%;
}

.main{
    margin-top: 10vh;
    display: inline-block;
    padding: 20px;
}

.main h2{
    font-size: 35px;
}

.main p{
    font-size: 16px;
    line-height: 23px;
}

.button-card{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #fff;
    background-color: #4251f2;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-card:hover{
    border-color: #ff7d5c;
    background-color: #ff7d5c;
}

.image-wrapper{
    display: flex;
    margin-top: 5vh;
    position: relative;
}

.image-wrapper img{
    max-width: 500px;
    min-width: 10px;
}

/* Media query para pantallas hasta 320px */
@media screen and (max-width: 320px) {
    .logo-card {
        font-size: 16px;
    }

    .main h2 {
        font-size: 20px;
    }

    .main p {
        font-size: 12px;
    }

    li.nav-link {
        font-size: 12px;
    }
}
/* Media query para pantallas hasta 375px */
@media screen and (max-width: 375px) {
    .logo-card {
        font-size: 18px;
    }

    .main h2 {
        font-size: 22px;
    }

    .main p {
        font-size: 13px;
    }
}

/* Media query para pantallas hasta 425px */
@media screen and (max-width: 425px) {
    .glass-container {
        padding: 20px;
        max-width: 90vw;
    }

    .logo-card {
        font-size: 20px;
    }

    ul.nav-links {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    li.nav-link {
        margin: 10px 0;
    }

    .main h2 {
        font-size: 24px;
    }

    .main p {
        font-size: 14px;
    }

    .button-card {
        font-size: 12px;
    }

    .image-wrapper img {
        max-width: 20px;
    }
}

@media screen and (max-width: 1075px) {
    .content-card{
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .logo-card{
        font-size: 22px;
    }
    li.nav-link{
        font-size: 13px;
    }
    .main h2{
        font-size: 28px;
    }
    .main p{
        font-size: 15px;
    }
    .button-card{
        font-size: 13px;
    }
    .image-wrapper img{
        max-width: 400px;
    }
}